<div class="b-books-batch-form container mt-4" data-controller="books-batch-form">
  <% target = local_assigns.fetch(:target, admin_books_batch_path) %>
  <% method = local_assigns.fetch(:target, :put) %>
  <%= form_tag target, method: method do %>
    <div class="row mb-3 fw-bold text-muted">
      <div class="col-1">ID</div>
      <div class="col-2">Title</div>
      <div class="col-1">Original</div>
      <div class="col-1">Form</div>
      <div class="col-2">Author</div>
      <div class="col-2">Series</div>
      <div class="col-1">Year</div>
      <div class="col-1">Wiki</div>
      <div class="col-1"></div>
    </div>

    <div data-books-batch-form-target="booksList">
      <% books = books.sort_by { |b| b.year_published.to_i } %>
      <% books.each_with_index do |book, index| %>
        <div class="row mb-3 align-items-center" data-name="book-row" data-books-batch-form-target="bookEntry">
          <div class="col-1">
            <%= text_field_tag "batch[#{index}][id]", book.id, class: 'form-control form-control-sm', disabled: true %>
            <%= hidden_field_tag "batch[#{index}][id]", book.id %>
          </div>
          <!-- Title input -->
          <div class="col-2">
            <%= admin_reversible_input(old_value: book.title_was) do %>
              <%= text_field_tag "batch[#{index}][title]", book.title,
                class: 'form-control form-control-sm',
                data: { name: "title", input_changes_target: "input" } %>
            <% end %>
          </div>
          <!-- Original title input -->
          <div class="col-1">
            <%= admin_reversible_input(old_value: book.original_title_was) do %>
              <%= text_field_tag "batch[#{index}][original_title]", book.original_title,
                class: 'form-control form-control-sm',
                data: { name: "original_title", input_changes_target: "input" } %>
            <% end %>
          </div>
          <!-- Literary form input -->
          <div class="col-1">
            <%= admin_reversible_input(old_value: book.new_record? ? nil : book.literary_form_was) do %>
              <%= text_field_tag "batch[#{index}][literary_form]", book.literary_form,
                class: 'form-control form-control-sm', data: { input_changes_target: "input" } %>
            <% end %>
          </div>
          <!-- Author input -->
          <div class="col-2" data-controller="association-input">
            <% entries = book_authors_to_badges_entries(book) %>
            <%= render "admin/books/form/association_badges_input_mini",
              name: "batch[#{index}][author_ids][]",
              autocomplete_url: admin_api_authors_search_path(format: :json),
              old_values: entries,
              values: entries %>
          </div>
          <!-- Series input -->
          <div class="col-2" data-controller="association-input">
            <% entries = book_series_to_badges_entries(book) %>
            <%= render "admin/books/form/association_badges_input_mini",
              name: "batch[#{index}][series_ids][]",
              autocomplete_url: admin_api_series_search_path(format: :json),
              old_values: entries,
              values: entries %>
          </div>
          <!-- Year input -->
          <div class="col-1">
            <%= admin_reversible_input(old_value: book.year_published_was) do %>
              <%= text_field_tag "batch[#{index}][year_published]", book.year_published,
                class: 'form-control form-control-sm', data: { input_changes_target: "input" } %>
            <% end %>
          </div>
          <!-- Wiki input -->
          <div class="col-1">
            <div class="b-external-link-input" data-controller="external-link-preview">
              <%= admin_reversible_link_input(old_value: book.wiki_url_was) do %>
                <%= text_field_tag "batch[#{index}][wiki_url]", book.wiki_url,
                  class: 'form-control form-control-sm',
                  data: { external_link_preview_target: "input",
                    action: "input->external-link-preview#syncUrl",
                    input_changes_target: "input" } %>
              <% end %>
              <%= link_to "🔗", nil, target: "_blank", data: { external_link_preview_target: "link" },
                class: "b-batch-external-link" %>
            </div>
          </div>
          <!-- Remove book button -->
          <div class="col-1">
            <%= button_tag '-', class: 'btn btn-danger btn-sm', data: {
              action: 'click->books-batch-form#removeBook' } %>
          </div>
        </div>
      <% end %>
    </div>

    <template data-books-batch-form-target="bookTemplate">
      <% index = "ENTRY_INDEX" %>
      <div class="row mb-3 align-items-center" data-name="book-row">
        <div class="col-1">
          <%= text_field_tag "batch[#{index}][id]", nil, class: 'form-control form-control-sm', disabled: true %>
        </div>
        <div class="col-2">
          <%= text_field_tag "batch[#{index}][title]", nil, class: 'form-control form-control-sm' %>
        </div>
        <div class="col-1">
          <%= text_field_tag "batch[#{index}][original_title]", nil, class: 'form-control form-control-sm' %>
        </div>
        <div class="col-1">
          <%= text_field_tag "batch[#{index}][literary_form]", nil, class: 'form-control form-control-sm' %>
        </div>
        <!-- Author input -->
        <div class="col-2" data-controller="association-input">
          <%= render "admin/books/form/association_badges_input_mini",
            name: "batch[#{index}][author_ids][]",
            autocomplete_url: admin_api_authors_search_path(format: :json),
            old_values: [],
            values: [] %>
        </div>
        <!-- Series input -->
        <div class="col-2" data-controller="association-input">
          <%= render "admin/books/form/association_badges_input_mini",
            name: "batch[#{index}][series_ids][]",
            autocomplete_url: admin_api_series_search_path(format: :json),
            old_values: [],
            values: [] %>
        </div>
        <!-- Year input -->
        <div class="col-1">
          <%= text_field_tag "batch[#{index}][year_published]", nil, class: 'form-control form-control-sm' %>
        </div>
        <!-- Wiki input -->
        <div class="col-1">
          <div class="b-external-link-input" data-controller="external-link-preview">
            <%= text_field_tag "batch[#{index}][wiki_url]", nil, class: 'form-control form-control-sm',
              data: { external_link_preview_target: "input", action: "input->external-link-preview#syncUrl" } %>
            <%= link_to "L", nil, target: "_blank", data: { external_link_preview_target: "link" } %>
          </div>
        </div>
        <!-- Remove book button -->
        <div class="col-1">
          <%= button_tag '-', class: 'btn btn-danger btn-sm', data: { action: 'click->books-batch-form#removeBook' } %>
        </div>
      </div>
    </template>

    <div class="row mt-4">
      <!-- Add book button -->
      <div class="col-12 mb-3">
        <%= button_tag '+ book', class: 'btn btn-success btn-lg',
          data: { action: 'click->books-batch-form#onClickAddBook' } %>
      </div>

      <!-- Submit button -->
      <div class="col-12">
        <%= submit_tag 'Update all', class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  <% end %>

  <% if local_assigns[:actions].present? %>
    <div class="row mt-3">
      <% local_assigns[:actions].each do |action_element| %>
        <div class="me-2 d-inline-block">
          <%= action_element %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
