<%= form_with(model: [:admin, @series], class: "needs-validation", novalidate: true) do |form| %>
  <%= render "admin/common/form_errors", form_record: @series %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= admin_reversible_input(old_value: @series.name_was) do %>
      <%= form.text_field :name, class: "form-control", required: true,
        data: { input_changes_target: "input" } %>
    <% end %>
    <div class="invalid-feedback">
      Please provide a name.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :wiki_url, "Wiki URL", class: "form-label" %>
    <%= admin_reversible_input(old_value: @series.wiki_url_was) do %>
      <%= form.url_field :wiki_url, class: "form-control",
        data: { input_changes_target: "input" } %>
    <% end %>
  </div>

  <div class="mb-3" data-controller="generic-links-input">
    <%= form.label nil, "Generic Links", class: "form-label" %>
    <%= render "admin/common/generic_links_input",
      form_scope: "series", values: generic_links_to_input_entries(@series.generic_links) %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", admin_series_index_path, class: "btn btn-secondary" %>
  </div>
<% end %>

<%= render "admin/common/bootstrap_form_validator" %>
