<% admin_nav_crumbs "Series" %>

<div class="container mt-4">
  <%= admin_buttonly_link_to "New series", new_admin_series_path %>
</div>

<div class="container mt-4">
  <table class="table">
    <thead>
      <th><%= sortable_table_column("ID", "id") %></th>
      <th><%= sortable_table_column("NAME", "name") %></th>
      <th>LINKS</th>
      <th>WIKI</th>
      <th><%= sortable_table_column("SIZE", "books_count") %></th>
      <th><%= sortable_table_column("CREATED", "created_at") %></th>
      <th><%= sortable_table_column("UPDATED", "updated_at") %></th>
      <th>ACTIONS</th>
    </thead>
    <% @series.each do |series| %>
      <tr>
        <td>
          <%= admin_link_to series.id, admin_series_path(series) %>
        </td>
        <td>
          <%= series.name %>
        </td>
        <td>
          <%= admin_link_to "show", admin_series_path(series) %>
          <%= admin_link_to "edit", edit_admin_series_path(series) %>
        </td>
        <td>
          <%= external_link_to "wiki", series.wiki_url if series.wiki_url.present? %>
        </td>
        <td>
          <%= series.book_series.size %>
        </td>
        <td>
          <%= admin_timestamp(series.created_at) %>
        </td>
        <td>
          <%= admin_timestamp(series.updated_at) %>
        </td>
        <td>
          <%= button_to "delete", admin_series_path(series), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
