<%= form_with(model: [:admin, book], scope: "book", local: true, novalidate: true,
  url: admin_book_generative_summary_path(book, @task), method: :put,
  data: { controller: "book-form",
    action: "book-generated-summaries:pickSummary@window->book-form#onSummaryPicked
      book-generated-summaries:addTags@window->book-form#onTagsAdded" },
  class: "needs-validation admin-book-form") do |form| %>

  <div class="mb-3">
    <%= form.label :author_id, class: "form-label" %>
    <%= form.collection_select :author_id, Author.order_by_fullname, :id, :fullname, {}, class: "form-select",
      data: { book_form_target: "authorSelect", behaviour: "indicateChanges", old_value: old_book.author_id } %>
  </div>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control", required: true,
      data: { book_form_target: "titleInput", action: "input->book-form#syncGoodreadsQuery", behaviour: "indicateChanges", old_value: old_book.title } %>
    <div class="invalid-feedback">
      Please provide a title.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :original_title, class: "form-label" %>
    <%= form.text_field :original_title, class: "form-control", data: { behaviour: "indicateChanges", old_value: old_book.original_title } %>
  </div>

  <div class="row">
    <div class="mb-3 col-md-6">
      <%= form.label :year_published, class: "form-label" %>
      <%= form.number_field :year_published, class: "form-control", min: 0, max: Time.current.year, required: true,
        data: { behaviour: "indicateChanges", old_value: old_book.year_published } %>
      <div class="invalid-feedback">
        Please provide a valid year.
      </div>
    </div>

    <div class="mb-3 col-md-6">
      <%= form.label :literary_form, class: "form-label" %>
      <%= form.text_field :literary_form, class: "form-control",
        data: { book_form_target: "literaryFormInput", behaviour: "indicateChanges", old_value: old_book.literary_form } %>
    </div>
  </div>

  <div class="row mb-3" data-controller="badges-input" data-action="book-form:addGenres@window->badges-input#onNamesAdded">
    <%= label_tag nil, "Genres", class: "form-label" %>
    <%= render "admin/books/form/badges_input", form: form,
      name: "book[genre_names][]", old_values: old_book.current_genre_names, current_values: book.current_genre_names %>
  </div>

  <div class="row mb-3" data-controller="badges-input" data-action="book-form:addTags@window->badges-input#onNamesAdded">
    <%= label_tag nil, "Tags", class: "form-label" %>
    <%= render "admin/books/form/badges_input", form: form,
      name: "book[tag_names][]", old_values: old_book.current_tag_names, current_values: book.current_tag_names %>
  </div>

  <%= render "admin/books/form/summary_input", form: form, old_book: old_book %>

  <%= form.hidden_field :data_filled, data: { book_generated_summaries_target: "datFilledInput" } %>

  <%= hidden_field_tag :summary_verified, false, data: { book_generated_summaries_target: "summaryVerifiedInput" } %>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary", data: { book_form_target: "submitButton" } %>
    <%= link_to "Cancel", admin_books_path, class: "btn btn-secondary" %>
  </div>

  <template data-book-form-target="oldValueViewTemplate">
    <div class="form-text" data-name="oldValueDisplay">
      Initial value: "<span data-name="oldValue"></span>" <span data-action="click->book-form#resetOldValue">RESET</span>
    </div>
  </template>
<% end %>

<%= render "admin/common/bootstrap_form_validator" %>
