<%= form_with(model: [:admin, @public_list_type], class: "needs-validation", novalidate: true) do |form| %>
  <%= render "admin/common/form_errors", form_record: @public_list_type %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= admin_reversible_input(old_value: @public_list_type.name_was) do %>
      <%= form.text_field :name, class: "form-control", required: true,
        data: { input_changes_target: "input" } %>
    <% end %>
    <div class="invalid-feedback">
      Please provide a name.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :wiki_url, "Wiki URL", class: "form-label" %>
    <%= admin_reversible_input(old_value: @public_list_type.wiki_url_was) do %>
      <%= form.url_field :wiki_url, class: "form-control",
        data: { input_changes_target: "input" } %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", admin_public_list_types_path, class: "btn btn-secondary" %>
  </div>
<% end %>

<%= render "admin/common/bootstrap_form_validator" %>
