<% admin_nav_crumbs "Public List Types" %>

<div class="container mt-4">
  <%= admin_buttonly_link_to "New public list type", new_admin_public_list_type_path %>
</div>

<div class="container mt-4">
  <table class="table">
    <thead>
      <th><%= sortable_table_column("ID", "id") %></th>
      <th><%= sortable_table_column("NAME", "name") %></th>
      <th>LINKS</th>
      <th><%= sortable_table_column("CREATED", "created_at") %></th>
      <th><%= sortable_table_column("UPDATED", "updated_at") %></th>
      <th>ACTIONS</th>
    </thead>
    <% @public_list_types.each do |public_list_type| %>
      <tr>
        <td>
          <%= admin_link_to public_list_type.id, admin_public_list_type_path(public_list_type) %>
        </td>
        <td>
          <%= public_list_type.name %>
        </td>
        <td>
          <%= admin_link_to "show", admin_public_list_type_path(public_list_type) %>
          <%= admin_link_to "edit", edit_admin_public_list_type_path(public_list_type) %>
        </td>
        <td>
          <%= admin_timestamp(public_list_type.created_at) %>
        </td>
        <td>
          <%= admin_timestamp(public_list_type.updated_at) %>
        </td>
        <td>
          <%= button_to "delete", admin_public_list_type_path(public_list_type), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
