<%= turbo_frame_tag "books_review_widget", target: "_top" do %>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="container mt-4">
          <h3>Books to fill: <%= @books_to_fill_count %></h3>
          <ul class="list-group">
            <% if @books_to_fill.empty? %>
              <li class="list-group-item">No books to fill</li>
            <% end %>
            <% @books_to_fill.each do |book| %>
              <li class="list-group-item">
                <%= admin_link_to "#{book.title} (#{book.year_published}) by #{book.author.fullname}",
                  request_summary_admin_feed_books_review_widget_path(book_id: book.id),
                  data: { turbo_frame: "books_review_widget", turbo_method: :post } %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-md-6">
        <div class="container mt-4">
          <h3>Summaries to review: <%= @summaries_to_verify_count %></h3>
          <ul class="list-group">
            <% if @summaries_to_verify.empty? %>
              <li class="list-group-item">No summaries to review</li>
            <% end %>
            <% @summaries_to_verify.each do |task| %>
              <li class="list-group-item">
                <%= admin_link_to "#{task.book.title} (#{task.book.year_published}) by #{task.book.author.fullname}",
                  admin_data_fetch_task_path(task.id) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
