<div class="col-md-12">
  <table class="table">
    <thead>
      <th>BOOK</th>
      <th>ROLE</th>
      <th></th>
    </thead>
    <tbody data-public-list-books-input-target="booksList" data-values="<%= values.to_json %>">
      <template data-public-list-books-input-target="bookTemplate">
        <tr data-name="book">
          <td>
            <%= hidden_field_tag "public_list[book_public_lists_attributes][ENTRY_ID][id]", nil,
              data: { name: "idInput" } %>
            <%= hidden_field_tag "public_list[book_public_lists_attributes][ENTRY_ID][book_id]", nil,
              data: { name: "bookIdInput" } %>
            <%= hidden_field_tag "public_list[book_public_lists_attributes][ENTRY_ID][_destroy]", nil,
              data: { name: "destroyInput" } %>
            <span data-name="label"></span>
          </td>
          <td>
            <%= text_field_tag "public_list[book_public_lists_attributes][ENTRY_ID][role]", nil, class: 'form-control',
              data: { name: "roleInput" } %>
          </td>
          <td>
            <%= button_tag "-", class: "btn btn-success", type: "button", tabindex: "-1",
              data: { action: "click->public-list-books-input#onClickDeleteBook" } %>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</div>

<div class="row mb-3">
  <div class="col-md-6">
    <%= label_tag nil, "Add book:", class: "form-label" %>
  </div>
  <div class="col-md-6 b-autocomplete-container" data-controller="autocomplete"
    data-autocomplete-url-value="<%= autocomplete_url %>"
    data-action="autocomplete:selected->public-list-books-input#onBookSelected">
    <%= text_field_tag nil, nil,
      class: 'form-control', autocomplete: 'off',
      data: {
        autocomplete_target: "input",
        action: "input->autocomplete#search blur->autocomplete#handleBlur focus->autocomplete#handleFocus"
      } %>
    <div class="list-group b-autocomplete-results" data-autocomplete-target="results"></div>
  </div>
</div>
