<div class="col-md-6" data-association-input-target="badges" data-values="<%= values.to_json %>"
  data-old-values="<%= old_values.to_json %>">
  <template data-association-input-target="badgeTemplate">
    <span class="badge bg-secondary mr-1 b-badge" data-name="badge">
      <span class="b-badge-name" data-name="label"></span>
      <%= hidden_field_tag name, nil, data: { name: "badgeValueInput", association_input_target: "badgeValueInput" } %>
      <span class="b-badge-delete-button" data-action="click->association-input#onClickDeleteBadge">
        -
      </span>
      <span class="b-badge-restore-button" data-action="click->association-input#onClickRestoreBadge">
        +
      </span>
    </span>
  </template>
</div>

<div class="col-md-4">
  <div class="col-12 b-autocomplete-container" data-controller="autocomplete"
    data-autocomplete-url-value="<%= autocomplete_url %>">
    <%= text_field_tag nil, nil,
      class: 'form-control', autocomplete: 'off',
      data: {
        autocomplete_target: "input",
        association_input_target: "badgeNewEntryInput",
        action: "input->autocomplete#search blur->autocomplete#handleBlur focus->autocomplete#handleFocus input->association-input#updateBadgeAddButton"
      }.merge(local_assigns.fetch(:label_input_data, {})) %>
    <div class="list-group b-autocomplete-results" data-autocomplete-target="results"></div>
  </div>
</div>

<div class="col-md-2">
  <%= button_tag "Add", class: "btn btn-success", type: "button",
    data: { action: "click->association-input#onAddClicked", association_input_target: "addButton" } %>
</div>
