<div class="b-author-badges-list" data-author-input-target="badges" data-values="<%= values.to_json %>"
  data-old-values="<%= old_values.to_json %>">
  <template data-author-input-target="badgeTemplate">
    <span class="badge bg-secondary mr-1 b-badge" data-name="badge">
      <span class="b-badge-name" data-name="label"></span>
      <%= hidden_field_tag name, nil, data: { name: "badgeValueInput", author_input_target: "badgeValueInput" } %>
      <span class="b-badge-delete-button" data-action="click->author-input#onClickDeleteBadge">
        -
      </span>
      <span class="b-badge-restore-button" data-action="click->author-input#onClickRestoreBadge">
        +
      </span>
    </span>
  </template>
</div>

<div class="b-author-badges-input">
  <div class="col-12 b-author-autocomplete-container" data-controller="author-autocomplete"
    data-author-autocomplete-url-value="<%= admin_api_authors_search_path %>.json"
    data-author-autocomplete-selected-id-value="<%= book.author_id %>"
    data-author-autocomplete-selected-name-value="<%= book.author&.fullname %>">
    <%= text_field_tag nil, nil,
      class: 'form-control form-control-sm', autocomplete: 'off',
      data: {
        author_autocomplete_target: "input", book_form_target: "authorName",
        author_input_target: "badgeNewEntryInput",
        action: "input->author-autocomplete#search blur->author-autocomplete#handleBlur focus->author-autocomplete#handleFocus input->author-input#updateBadgeAddButton"
      } %>
    <div class="list-group b-author-autocomplete-results" data-author-autocomplete-target="results"></div>
  </div>
</div>

<div class="b-author-badges-button">
  <%= button_tag "+", class: "btn btn-success btn-sm", type: "button",
    data: { action: "click->author-input#onAddClicked", author_input_target: "addButton" } %>
</div>
