<% admin_nav_crumbs admin_nav_collections_link, admin_nav_collection_link(@collection) %>

<div class="container mt-4">
  <div class="btn-group" role="group">
    <%= admin_buttonly_link_to "edit", edit_admin_collection_path(@collection) %>
    <%= button_to "delete", admin_collection_path(@collection), method: :delete,
      class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>
  </div>
</div>

<div class="b-collection-page container mt-4">
  <div class="row">
    <div class="container col-md-6">
      <div class="row mb-3">
        <div class="col-md-3 font-weight-bold text-end">Label:</div>
        <div class="col-md-9"><%= @collection.name %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 font-weight-bold text-end">Year Published:</div>
        <div class="col-md-9"><%= @collection.year_published %></div>
      </div>

      <% if @collection.wiki_url.present? %>
        <div class="row mb-3">
          <div class="col-md-3 font-weight-bold text-end">Wiki URL:</div>
          <div class="col-md-9"><%= admin_link_to_wiki_with_stats(@collection) %></div>
        </div>
      <% end %>

      <% if @collection.generic_links.present? %>
        <div class="row mb-3">
          <div class="col-md-3 font-weight-bold text-end">Links:</div>
          <div class="col-md-9">
            <% @collection.generic_links.each do |generic_link| %>
              <%= external_link_to generic_link.name, generic_link.url %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="row mb-3">
        <div class="col-md-3 font-weight-bold text-end">Created At:</div>
        <div class="col-md-9"><%= admin_timestamp(@collection.created_at) %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 font-weight-bold text-end">Updated At:</div>
        <div class="col-md-9"><%= admin_timestamp(@collection.updated_at) %></div>
      </div>
    </div>
  </div>

  <table class="table border">
    <thead>
      <th><%= sortable_table_column("ID", "id") %></th>
      <th><%= sortable_table_column("TITLE", "title") %></th>
      <th>AUTHORS</th>
      <th><%= sortable_table_column("FORM", "literary_form") %></th>
      <th>LINKS</th>
      <th><%= sortable_table_column("YEAR", "year_published") %></th>
      <th><%= sortable_table_column("WIKI", "wiki_popularity") %></th>
    </thead>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= admin_link_to book.id, admin_book_path(book) %>
        </td>
        <td>
          <%= book_title_marked_for_data_fetch(book) %>
          <%= "(#{book.original_title})" if book.special_original_title? %>
        </td>
        <td>
          <% book.authors.each do |author| %>
            <%= admin_link_to author.fullname, admin_author_path(author) %> <%= ',' if author != book.authors.last %>
          <% end %>
        </td>
        <td>
          <%= book.literary_form.humanize %>
        </td>
        <td>
          <%= admin_link_to "show", admin_book_path(book) %>
          <%= admin_link_to "edit", edit_admin_book_path(book) %>
        </td>
        <td>
          <%= book.year_published %>
        </td>
        <td>
          <%= book_wiki_link(book) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
