<%= form_with(model: [:admin, author], scope: "author", local: true, class: "needs-validation", novalidate: true, data: { controller: "author-form" }) do |form| %>
  <%= render "admin/common/form_errors", form_record: author %>

  <div class="mb-3">
    <%= form.label :fullname, class: "form-label" %>
    <%= admin_reversible_input(old_value: author.fullname_was) do %>
      <%= form.text_field :fullname, class: "form-control",
        data: { author_form_target: "fullnameInput", action: "input->author-form#syncName",
          input_changes_target: "input" }, required: true %>
    <% end %>
    <div class="invalid-feedback">
      Please provide a full name.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :original_fullname, class: "form-label" %>
    <%= admin_reversible_input(old_value: author.original_fullname_was) do %>
      <%= form.text_field :original_fullname, class: "form-control",
        data: { input_changes_target: "input" } %>
    <% end %>
    <div class="invalid-feedback">
      Please provide a full name.
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :photo_url, "Author Photo", class: "form-label" %>
    <div class="col-md-2">
      <%= link_to "GOOGLE", "http://google.com/search?#{{tbm: "isch", q: "author photo #{author.fullname}"}.to_query}", target: "_blank",
        data: { author_form_target: "photoQueryLink", href_scaffold: "http://google.com/search?#{{tbm: "isch", q: "author photo NAME"}.to_query}" } %>
    </div>
    <div class="col-md-1"> >> </div>
    <div class="col-md-6">
      <% placeholder = author.photo_url %>
      <% placeholder = placeholder.presence || "Enter the URL for the author's photo" %>
      <%= form.url_field :photo_url, value: nil, class: "form-control", placeholder: placeholder,
        data: { action: "input->external-link-preview#syncUrl" } %>
    </div>
    <div class="col-md-1"> >> </div>
    <div class="col-md-2">
      <%= link_to "LINK", author.photo_url, target: "_blank" %>
    </div>
  </div>

  <div class="row mb-3" data-controller="external-link-preview">
    <%= form.label :wiki_url, "Wiki", class: "form-label" %>
    <div class="col-md-2">
      <%= link_to "GOOGLE", "#", target: "_blank",
        data: { author_form_target: "wikiQueryLink", href_scaffold: "http://google.com/search?#{{q: "author wiki NAME"}.to_query}" } %>
    </div>
    <div class="col-md-1"> >> </div>
    <div class="col-md-6">
      <%= admin_reversible_input(old_value: author.wiki_url_was) do %>
        <%= form.text_field :wiki_url, class: "form-control",
          data: { action: "input->external-link-preview#syncUrl", external_link_preview_target: "input",
            input_changes_target: "input" } %>
      <% end %>
    </div>
    <div class="col-md-1"> >> </div>
    <div class="col-md-2">
      <%= link_to "LINK", nil, target: "_blank", data: { external_link_preview_target: "link" } %>
    </div>
  </div>

  <div class="mb-3" data-controller="generic-links-input">
    <%= form.label nil, "Generic Links", class: "form-label" %>
    <%= render "admin/common/generic_links_input",
      form_scope: "author", values: generic_links_to_input_entries(@author.generic_links) %>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :birth_year, class: "form-label" %>
      <%= admin_reversible_input(old_value: author.birth_year_was) do %>
        <%= form.number_field :birth_year, class: "form-control", min: 0, max: Time.current.year,
          data: { input_changes_target: "input" } %>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= form.label :death_year, class: "form-label" %>
      <%= admin_reversible_input(old_value: author.death_year_was) do %>
        <%= form.number_field :death_year, class: "form-control", min: 0, max: Time.current.year,
          data: { input_changes_target: "input" } %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", admin_authors_path, class: "btn btn-secondary" %>
  </div>
<% end %>

<%= render "admin/common/bootstrap_form_validator" %>
