<%= form_with(model: @public_list, scope: "public_list", class: "needs-validation b-public-list-form", novalidate: true,
  url: @public_list.new_record? ? admin_public_list_type_public_lists_path(@public_list_type) : admin_public_list_type_public_list_path(@public_list_type, @public_list),
  method: @public_list.new_record? ? :post : :put) do |form| %>
  <% if @public_list.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@public_list.errors.count, "error") %> prohibited this public list from being saved:</h4>
      <ul>
        <% @public_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :year, class: "form-label" %>
    <%= admin_reversible_input(old_value: @public_list.year_was) do %>
      <%= form.number_field :year, class: "form-control", required: true,
        data: { input_changes_target: "input" } %>
    <% end %>
    <div class="invalid-feedback">
      Please provide a year.
    </div>
  </div>

  <div class="row mb-3 b-public-list-books-input" data-controller="association-input">
    <%= label_tag nil, "Books", class: "form-label" %>
    <%= render "admin/books/form/association_badges_input_wide",
      name: "public_list[book_ids][]",
      autocomplete_url: admin_api_books_search_path(format: :json),
      old_values: books_to_badges_entries(@public_list.books),
      values: books_to_badges_entries(@public_list.books) %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", admin_public_list_type_path(@public_list_type), class: "btn btn-secondary" %>
  </div>
<% end %>

<%= render "admin/common/bootstrap_form_validator" %>
