<% admin_nav_crumbs "Data Fetch Tasks" %>

<div class="container mt-4">
  <table class="table">
    <thead>
      <th>ID</th>
      <th>TYPE</th>
      <th>LINKS</th>
      <th>STATUS</th>
      <th>CREATED</th>
      <th>UPDATED</th>
    </thead>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= admin_link_to task.id, admin_data_fetch_task_path(task) %>
        </td>
        <td>
          <%= task.type %>
        </td>
        <td>
          <%= admin_link_to "show", admin_data_fetch_task_path(task) %>
        </td>
        <td>
          <%= task.status.humanize %>
        </td>
        <td>
          <%= admin_timestamp(task.created_at) %>
        </td>
        <td>
          <%= admin_timestamp(task.updated_at) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
